/*
Colors used:
Primary Color (White): #FFFFFF;
Primary Color (Grey): #F2F3F5;
Typography (Black): #191919;
*/
/* Layout styling */
* {
  box-sizing: border-box;
}


html {scroll-behavior: smooth;}

body {background-color: #F2F3F5;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #191919;}

header {
  z-index: 4;
  background-color: #0A0A0A;


  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.75);
position: fixed;
width: 100%;
height: 90px;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #4a4a4a;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  background-color: #0A0A0A;
}

nav > ul > li {
display: inline-block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;

}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
position: absolute;
right: 0;
top: 10px;
font-size: 20px;
}

.navtoggle.responsive li:last-child {
padding: 0 0 10px;
}

.logolink {
display:block;
    position: absolute;
    top: 20px;
}

.logo {
  max-width: 150px;

}


.container {
  padding: 0 15px;
}

#hero h1 {
  text-align: center;
}

#hero {
  background-color: #FFFFFF;
  padding: 30px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#hero span {
  display: block;
}


main {
  padding-top: 56px;
}


h1, h2, h3, h4 {line-height: 1.4;}
h1 {font-size: 2.75em; font-weight: 700;}
h2 {font-size: 2.25em; font-weight: 700;}
h3 {font-size: 1.75em; font-weight: 400;}
h4 {font-size: 1.35em; font-weight: 400;}

img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

a {
  color: #FFFFFF;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #FFFFFF;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #F5F5F5;
}
a:active { /* selected link */
  color: #0B0B0B;
}

a:hover,
a:focus {
  color: #FFE0E7;
  text-decoration: underline;
}
.button {
  display: inline-block;
  background-color: #0D0D0D;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #313131;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  color: #d8e6e9;
  text-decoration: none;

}
.button:visited {color: #ffffff;}
.button.contact {
  background-color: transparent;
  color: #191919;
  text-transform: uppercase;
  border: 2px solid #0A0A0A;
}
.button.contact:hover {
  background-color: #0A0A0A;
  color: #ffffff;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px){
header {
    text-align: unset;
    /* padding: 10px 0 13px; */
    margin: 0px;
    }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul {
  margin: 1em 0;
}

  .navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

.container {
  padding: 0 0px;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-size: 17px;
}

.container {
padding: 0 0px;
    max-width: 1200px;
    margin: 0 auto;
  }

    .row {
  margin: 80px 0; /* 25px top and bottom, 0 left and right */
}


    .col-md-6 {
      width: 50%;
    }


      .col-md-7 {
      width: 60%;
    }



        .col-md-5 {
      width: 40%;
    }

[class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.logo {
  max-width: 150px;

}

#about-page h3 { margin-top: 0;}
}

footer ul{
    margin-top: 80px;
    list-style-type: none;
    padding: 0;
}

footer ul li{
    display: inline;
}

.icons {
    margin-right: 15px;
}
.icons svg { width: 48px}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {


      .col-lg-7 {
  width: 60%;
}



    .col-lg-5 {
  width: 40%;
}



}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px){

}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
